html, body {
  margin: 0;
  padding: 0;
}

.button {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

canvas {
  margin: auto;
  display: block;
}

footer {
  margin-top: 48px;
  padding-bottom: 0px;
}
